body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  }
  
  .profileContents{
  display: flex;
  justify-content: top;
  align-items: center;
  flex: 1;
  padding: 20px;
  background-color: white;
  column-gap: 20px;
  flex-direction: column;
  }
  
  main {
  flex:
   1 0 auto;
  }
 tbody td {
  text-align: center;
  align-items: center;
}
